<div class="topbar">
	<div class="fill">
		<div class="container">
            <!-- <a id="logo" href="#">Steem</a> -->
            
            <a href="#" class="superadmin-link">&larr; Back to Superadmin</a>
            
            <div class="switch-client">
                <label>Show Client:</label>
                <div class="input">
                  <select name="normalSelect" id="normalSelect">
                    <option>DLH</option>
                    <option>Xtravaganza</option>
                    <option>Bodycote</option>
                    <option>IKEA</option>
                    <option>ABB</option>
                  </select>
                </div>
            </div>
			
			<ul class="nav secondary-nav">
			    <li class="divider"></li>
          		<li class="dropdown"> 
          			<a href="../../profile.html" class="dropdown-toggle">Hey, Daniel</a> 
        			<ul class="dropdown-menu">
        			    <li><a href="../../profile.html">Account</a></li>
                        <li><a href="#">Log out</a></li>
        			</ul> 
          		</li>
			</ul>
		</div>
	</div>
</div>