/* Shop.less
 * All styling that belongs in the shop
 * ---------------------------------------------------------------------------- */

body {
&#shop {
/* START HERE TO OVERRIDE BODY WITH ID #SHOP */
background:#F7F7F7;
	
// NAVIGATION
// ----------

// Topbar Nav

.topbar div > ul,
.nav {
	&.right{float:right;}
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  left: 0;
  > li {
    display: block;
    float: left;
	&.divider {
		#gradient > .vertical(rgba(0,0,0,0.07), rgba(255,255,255,0.04));
		width:1px;
		height:39px;

	}
 	ul{
		li{
			a {
				padding:10px 15px 11px 15px
			}
		}
	}
}
  a {
    display: block;
    float: none;
    padding: 10px 10px 11px;
    line-height: 16px;
    text-decoration: none;
    &:hover {
      color: @white;
      text-decoration: none;
    }
  }
  .active > a {
    background-color: #222;
    background-color: rgba(0,0,0,.5);
  }
}

// Category Nav

.category-nav {
	background:#F8F8F8;
	border-bottom:1px solid rgba(0, 0, 0, 0.05);
	margin-bottom:20px;
}

.page-header{height:37px;}

.category-menu {
  display: block;
  margin: 0 10px 0 0;
  position: relative;
  left: 0;
  > li {
    display: block;
    float: left;
	&.divider {
		#gradient > .vertical(rgba(0,0,0,0.07), rgba(255,255,255,0.04));
		width:1px;
		height:39px;

	}
  	&.menu-dropdown, .dropdown-menu {
		top:37px;
		border:1px solid rgba(0, 0, 0, 0.08);
	}
}
  a {
    display: inline-block;
    float: none;
    padding: 10px 10px 11px;
    line-height: 16px;
    text-decoration: none;
	color:@gray;
	&.active {font-weight:bold;}
    &:hover {
      color: @black;
      text-decoration: underline;
    }
	&.dropdown-toggle {
		&:after {
			width: 0;
			height: 0;
			display: inline-block;
			content: "&darr;";
			text-indent: -99999px;
			vertical-align: top;
			margin-top: 6px;
			margin-left: 4px;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top: 4px solid @black;
			.opacity(50);
		}
	}
  }
  .active > a {
    background-color: #222;
    background-color: rgba(0,0,0,.5);
  }
}

// Search

.search {
	float:right;
	margin:15px 0 0;
	input#search-query {
		.border-radius(14px);
		padding:4px 15px 4px 30px;
		width:174px;
	}
}

// Product listing

.item-list {
	li {
		margin-bottom:25px;	
		a {
			.product-name {
				margin-top:9px;
				small{font-size:@basefont - 2.4px;font-style:italic;}
			}
			&:hover {
				text-decoration:none;
			}
		}
		.meta {
			text-align:center;
			width:220px;
			.category {
				display:inline-block;
				text-align:left;
				color:@gray;
				text-decoration:none;
				&:hover {text-decoration:underline;}
				span {
					display:inline-block;
					float:left;
					width:16px;
					height:15px;
					margin-right:5px;
				}
			}
		}
	}
}

// Sidebar

.sidebar {
	margin-top:3px;
	hr {
		margin:5px 0 10px;
	}
	
	.phone {
		display:block;
		text-indent:24px;
		margin:15px 0 8px 8px;
		font-weight:bold;
	}

	.mail {
		display:block;
		margin:0 0 0 8px;
		text-indent:24px;
	}
	
}

// Product

.product {
	overflow:hidden;
	.product-image {
		width:360px;
		float:left;
		padding:0 0 10px;
		.frame {
			height:auto;
			overflow:hidden;
			.thumbnail {
				height:317px;
				img {
					max-width:250px;
				}
			}
			.slideshow-thumbs {
				background:red;
				overflow:hidden;
				clear:both;
				list-style-type:none;
				margin:10px 0 0 15px;
				padding:0;
				li {
					overflow:hidden;
					float:left;
					width:50px;
					margin:0 10px 0 0;
					background:@white;
					border:1px solid @grayLighter;
					a{}
						&.activeSlide {
							a {}
						}
					}
				}
		}
	}

	.product-info {
		float:left;
		width:310px;
		margin-left:20px;
	}

	.specifications {
		margin:0;
		padding:0;
		li {
			border-bottom: 1px solid rgba(0,0,0,0.04);
		    display: block;
		    padding: 15px 0 15px 30px;
		}
	}
}

.description {
	margin-top:15px;
	background:rgba(0,0,0,0.04);
	padding:10px 20px 5px;
	position:relative;
	p {
		font-size:@basefont - 1.3px;
		line-height:@baseline + 5px;
	}
	&:before {
		width: 30px;
		height: 10px;
		display: inline-block;
		content: "&darr;";
		text-indent: -99999px;
		background:@gray;
		.opacity(15);
		transform:rotate(35deg);
		-ms-transform:rotate(35deg); /* IE 9 */
		-moz-transform:rotate(35deg); /* Firefox */
		-webkit-transform:rotate(35deg); /* Safari and Chrome */
		-o-transform:rotate(35deg); /* Opera */
		right:-8px;
		top:2px;
		position:absolute;
	}
	&:after {
		width: 30px;
		height: 10px;
		display: inline-block;
		content: "&darr;";
		text-indent: -99999px;
		background:@gray;
		.opacity(15);
		transform:rotate(-35deg);
		-ms-transform:rotate(-35deg); /* IE 9 */
		-moz-transform:rotate(-35deg); /* Firefox */
		-webkit-transform:rotate(-35deg); /* Safari and Chrome */
		-o-transform:rotate(-35deg); /* Opera */
		left:-8px;
		top:2px;
		position:absolute;
	}
}

dl.qty {
	margin-top:7px;
	dt {
		clear: left;
		float: left;
		width: 80px;
		margin: 0;
		padding: 5px;
		font-weight:normal;
		line-height:@baseline - 4px;
		&:nth-child(1){font-weight:bold;}
	}
	dd {
		margin-left: 80px;
		padding: 5px;
		line-height:@baseline - 4px;
		&:nth-child(2){font-weight:bold;}
	}
}

.product-variation {
	margin-top:20px;
	width:690px;
	clear:both;
	overflow:hidden;
	.filter {
		overflow:hidden;
		border-bottom:1px solid rgba(0, 0, 0, 0.05);
		margin-bottom:15px;
		h4 {
			text-align:left;
			width:100px;
			float:left;
			font-size:@basefont - 1px;
			color:@gray;
		}
		.category-menu {
			display:block;
			float:right;
			overflow:hidden;
		}
	}
	.variation-list {
		clear:both;
		margin:0 0 0;
		li {
			float:none;
			overflow:hidden;
			border-bottom:1px solid rgba(0,0,0,0.07);
			margin:0 0 10px;
			padding:0 0 10px;
			.btn-flip {
				display:block;
				float:left;
				position:relative;
				height:30px;
				.btn {
					width:50px;
					text-align:center;
					&.price {
					}
					&.buy {
						display:none;
					}
				}
			}
			.variation-info {
				width:300px;
				float:left;
				h3 {
					line-height:normal;
					font-size:@basefont + 1px;
				}
			}

			.variation-action {
				float:right;				
				.btn-group {
					#gradient > .vertical-three-colors(#ffffff, #ffffff, 25%, darken(#ffffff, 10%)); // Don't use .gradientbar() here since it does a three-color gradient
					float:left;
					overflow:hidden;
					.border-radius(4px);
					border:1px solid rgba(0,0,0,0.15);
					margin-right:10px;
					.send {
						background-position:10px -552px;
						width:32px;
						height:27px;
						text-indent:-999px;
						display:block;
						float:left;
						margin:0;
						border-right:1px solid rgba(0,0,0,0.15);
						&:hover {
							background-color:rgba(0,0,0,0.05);
							.box-shadow(0px 3px 2px #fff inset);
						}
					}

					.preview {
						background-position:8px -791px;
						width:32px;
						height:27px;
						text-indent:-999px;
						display:block;
						float:left;
						margin:0;
						&:hover {
							background-position:8px -791px;
							background-color:rgba(0,0,0,0.05);
							.box-shadow(0px 3px 2px #fff inset);
						}
					}
				}
				.qty {float:left;margin:1px 5px 0 0;}
			}
		}
	}
}
	
/* END HERE */
}
}