// PartnerAdmin
// ------

.partner-tools {
	background:transparent url(gfx/sprite.png) no-repeat 2px 10px;
	&.active, &:hover {
		background:transparent url(gfx/sprite.png) no-repeat -38px 10px;
	}
}

.user-log {
	background:transparent url(gfx/sprite.png) no-repeat 3px -29px;
	&.active, &:hover {
		background:transparent url(gfx/sprite.png) no-repeat -38px -29px;
	}
}

.addresslists {
	background:transparent url(gfx/sprite.png) no-repeat 2px -70px;
	&.active, &:hover {
		background:transparent url(gfx/sprite.png) no-repeat -38px -70px;
	}
}

.groups {
	background:transparent url(gfx/sprite.png) no-repeat 2px -109px;
	&.active, &:hover {
		background:transparent url(gfx/sprite.png) no-repeat -38px -109px;
	}
}

.order-history {
	background:transparent url(gfx/sprite.png) no-repeat 2px -151px;
	&.active, &:hover {
	background:transparent url(gfx/sprite.png) no-repeat -38px -151px;
	}
}

.order-approval {
	background:transparent url(gfx/sprite.png) no-repeat 2px -191px;
	&.active, &:hover {
	background:transparent url(gfx/sprite.png) no-repeat -38px -191px;
	}
}

.statistics {
	background:transparent url(gfx/sprite.png) no-repeat 2px -231px;
	&.active, &:hover {
	background:transparent url(gfx/sprite.png) no-repeat -38px -231px;
	}
}

.view-shop {
		span{
			background:transparent url(gfx/sprite.png) no-repeat 2px -274px;
		}
		&:hover {
			span {
				background:transparent url(gfx/sprite.png) no-repeat -38px -274px;
			}
		}
}

.status {
	&.active {
		background:transparent url(gfx/sprite.png) no-repeat 0px -320px;
	}
	&.pending {
		background:transparent url(gfx/sprite.png) no-repeat -40px -320px;
	}
	&.error {
		background:transparent url(gfx/sprite.png) no-repeat -80px -320px;
	}
}


.edit {
	span {
		background:transparent url(gfx/sprite.png) no-repeat 2px 0px;
	}
	&:hover {
		span {
			background:transparent url(gfx/sprite.png) no-repeat -38px 0px;
		}
	}
}

.copy {
	span {
		background:transparent url(gfx/sprite.png) no-repeat 2px -359px;
	}
	&:hover {
		span {
		background:transparent url(gfx/sprite.png) no-repeat -38px -359px;
		}
	}
}

.delete {
	span {
		background:transparent url(gfx/sprite.png) no-repeat 2px -400px;
	}
	&:hover {
		span {
			background:transparent url(gfx/sprite.png) no-repeat -38px -400px;
		}
	}
}

.preview {
	span {
		background:transparent url(gfx/sprite.png) no-repeat 2px -437px;
	}
	&:hover {
		span {
			background:transparent url(gfx/sprite.png) no-repeat -38px -437px;
		}
	}
}

.add {
	span {
		background:transparent url(gfx/sprite.png) no-repeat 3px -477px;
	}
	&:hover {
		span {
			background:transparent url(gfx/sprite.png) no-repeat 3px -477px;
		}
	}
}

.remove {
	span {
		background:transparent url(gfx/sprite.png) no-repeat 4px -514px;
	}
	&:hover {
		span {
			background:transparent url(gfx/sprite.png) no-repeat 4px -514px;
		}
	}
}