<ul class="vertical-nav">
    <li class="partner-tools sub collapsed">
        <a href="#" class="toggle-sub">Partner Tools</a>
        <ul class="sub-menu">
            <li><a href="../../../partneradmin_products.html">– Products <span class="counter square">10</span></a></li>
            <li><a href="../../../partneradmin_users.html">– Users <span class="counter square">3</span></a></li>
            <li><a href="../../../partneradmin_categories.html">– Categories</a></li>
            <li><a href="../../../partneradmin_upgrades.html">– Upgrades</a></li>
            <li><a href="../../../partneradmin_settings.html">– Settings</a></li>
        </ul>
    </li>
    <li class="user-log">
        <a href="../../../partneradmin_userlog.html">User Log</a>
    </li>
    <li class="addresslists">
        <a href="../../../partneradmin_addresslists.html">Address Lists</a>
    </li>
    <li class="groups">
        <a href="../../../partneradmin_groups.html">Groups</a>
    </li>
    <li class="order-history">
        <a href="../../../partneradmin_orderhistory.html">Order History</a>
    </li>
    <li class="order-approval">
        <a href="../../../partneradmin_orderapproval.html">Order Approval <span class="counter square">4</span></a>
    </li>
    <li class="statistics">
        <a href="../../../partneradmin_statistics.html">Statistics</a>
    </li>
</ul>