<div class="container">

    <ul class="category-menu">
    	<li class="dropdown"> 
    		<a href="../../profile.html" class="dropdown-toggle active">Everything</a>
    		<ul class="dropdown-menu">
    		    <li><a href="#">Kontorsmaterial</a></li>
                <li><a href="#">Utbildningsmaterial</a></li>
                <li><a href="#">Visitkort</a></li>
    		</ul> 
    	</li>
    	<li class="dropdown"> 
    		<a href="#" class="dropdown-toggle">Product types</a>
    		<ul class="dropdown-menu">
    		    <li><a href="#">Kontorsmaterial</a></li>
                <li><a href="#">Utbildningsmaterial</a></li>
                <li><a href="#">Visitkort</a></li>
    		</ul> 
    	</li>
    	<li>
    	    <a href="#">My Creations</a>·
    	</li>
    	<li>
    	    <a href="#">A-Z</a>
    	</li>
    </ul>

</div>