<div class="container">
    
    <div class="company">
        
        <a href="../../../partneradmin_products.html">
            <img src="../../../webroot/dummy/xtravaganza.png" class="company-logo"/>
        </a>

        <!-- only show the title if theres no logotype uploaded
            <h1>
                Company name
            </h1>
        -->
    
    </div>
    
    <div class="search">
        
        <form class="pull-left" action="">
            <input type="text" placeholder="Search">
        </form>
        
    </div>
    
</div>