<div class="topbar">
	<div class="fill">
		<div class="container">
            <!-- <a id="logo" href="#">Steem</a> -->
            
            <a href="../../index_admin.html" class="superadmin-link">&larr; Back to Admin</a>
			
			<ul class="nav right">
          		<li class="sign-out"><a href="#">My Settings</a></li>
          		<li class="divider"></li>
          		<li class="cart"><a href="#">Cart (0)</a></li>
          		<li class="divider"></li>
          		<li class="sign-out"><a href="#">Sign out</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Load modal windows -->

<div id="addformat" class="modal hide">
  <span data-src="../elements/modals/products/addformat.html"></span>
</div>

<!-- /Load modal windows -->