<div class="topbar">
	<div class="fill">
		<div class="container">
            <!-- <a id="logo" href="#">Steem</a> -->
            
            <a href="../../index_admin.html" class="superadmin-link">&larr; Back to Admin</a>
			
			<ul class="nav right">
			    <li class="order-status"><a href="#">Order Status</a></li>
          		<li class="divider"></li>
          		<li class="cart"><a href="#">Cart (0)</a></li>
          		<li class="divider"></li>
          		<li class="dropdown"> 
          			<a href="#" class="user dropdown-toggle">Hey, Daniel</a>
        			<ul class="dropdown-menu">
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">My Settings</a></li>
                        <li><a href="#">Sign out</a></li>
        			</ul> 
          		</li>
			</ul>
		</div>
	</div>
</div>

<!-- Lets import some client styling -->
    <span data-src="styling.html"></span>
<!-- //.end Lets import some client styling -->