<div class="product">

    <div class="product-image">

        <div class="frame full">
            <a id="productImagePrev" class="prev"></a>
            <a id="productImageNext" class="next"></a>
            <div id="slideshow" class="thumbnail">
                <img src="../../../webroot/dummy/large_product_image.jpg"/>
                <img src="../../../webroot/dummy/large_product_image.jpg"/>
                <img src="../../../webroot/dummy/large_product_image.jpg"/>
                <img src="../../../webroot/dummy/large_product_image.jpg"/>
                <img src="../../../webroot/dummy/large_product_image.jpg"/>
            </div>

        </div>

    </div>

    <div class="product-info">
        
        <div class="description">

            <p>Ska ni göra ett utskick?
            Eller vill ni affischera med A5-format?
            Vi har fixat ett kanonpris på A5 i 4-färg.</p>

        </div>

        <ul class="specifications">
            <li class="format">
                A (105 x 148 mm)
            </li>

            <li class="colors">
                4 + 4
            </li>

            <li class="material">
                Galarie Art Silk 170g
            </li>

            <li class="finishing">
                Crease
            </li>

            <li class="shipping">
                5-10 delivery days
            </li>
        </ul>

    </div>



</div>

<div class="product-variation">
    
    <div class="filter">
        
        <h4>Created layouts</h4>

        <ul class="category-menu">
        	<li>
        	    <a href="#">Alphabetic</a>·
        	</li>
        	<li>
        	    <a href="#">Recently Created</a>
        	</li>
        </ul>
        
    </div>
    
    <ul class="variation-list">
        <li>
            <div class="variation-info">
                <h3>Variation name</h3>
                <div class="meta">
                    <small class="date">Dec 18th 2011, 13:27</small>
                </div>
            </div>
            
            <div class="variation-action">
                
                <div class="btn-group">
                    <a href="#" class="send">Send</a>
                    <a href="#" class="preview">Preview</a>
                </div>
                
                <div class="qty">
                    <input type="text" class="mini"/>
                </div>
                
                <div class="btn-flip">
                    
                    <input type="submit" value="6250 kr" class="btn price">
                    
                    <input type="submit" value="Köp" class="btn buy">
                    
                </div>
                
                
            </div>
        </li>
        <li>
            <div class="variation-info">
                <h3>Variation name</h3>
                <div class="meta">
                    <small class="date">Dec 18th 2011, 13:27</small>
                </div>
            </div>
            
            <div class="variation-action">
                
                <div class="btn-group">
                    <a href="#" class="send">Send</a>
                    <a href="#" class="preview">Preview</a>
                </div>
                
                <div class="qty">
                    <input type="text" class="mini"/>
                </div>
                
                <div class="btn-flip">
                    
                    <input type="submit" value="6250 kr" class="btn price">
                    
                    <input type="submit" value="Köp" class="btn buy">
                    
                </div>
                
                
            </div>
        </li>
        <li>
            <div class="variation-info">
                <h3>Variation name</h3>
                <div class="meta">
                    <small class="date">Dec 18th 2011, 13:27</small>
                </div>
            </div>
            
            <div class="variation-action">
                
                <div class="btn-group">
                    <a href="#" class="send">Send</a>
                    <a href="#" class="preview">Preview</a>
                </div>
                
                <div class="qty">
                    <select class="mini">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                </div>
                
                <div class="btn-flip">
                    
                    <input type="submit" value="6250 kr" class="btn price">
                    
                    <input type="submit" value="Köp" class="btn buy">
                    
                </div>
                
                
            </div>
        </li>
        <li>
            <div class="variation-info">
                <h3>Variation name</h3>
                <div class="meta">
                    <small class="date">Dec 18th 2011, 13:27</small>
                </div>
            </div>
            
            <div class="variation-action">
                
                <div class="btn-group">
                    <a href="#" class="send">Send</a>
                    <a href="#" class="preview">Preview</a>
                </div>
                
                <div class="qty">
                    <select class="mini">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                </div>
                
                <div class="btn-flip">
                    
                    <input type="submit" value="6250 kr" class="btn price">
                    
                    <input type="submit" value="Köp" class="btn buy">
                    
                </div>
                
                
            </div>
        </li>
    </ul>
    
</div>