<!-- <ul class="breadcrumb">
    <li><a href="#">Companies</a></li>
    <li class="divider"></li>
    <li class="active dropdown">
        <a href="#" class="dropdown-toggle">Xtravaganza</a>
        <ul class="dropdown-menu">
            <li><a href="#">DLH Sverige AB</a></li>
            <li><a href="#">Navii</a></li>
            <li><a href="#">Bodycote</a></li>
            <li><a href="#">Resebyrån</a></li>
            <li><a href="#">Ralph Lauren</a></li>
        </ul>
    </li>
</ul> -->

<div class="sidebar">
    <span data-src="../../elements/partneradmin/sidebar.html"></span>
</div>

<div class="content narrow">
    
    <div class="page-header">

        <h1>
        	Categories <small>Categorize products</small>
        </h1>
        
        <a class="btn primary alignright" href="#">Add Category</a>

    </div>
    
	<span data-src="../../elements/partneradmin/categories/list.html"></span>
	
	<div class="pagination">
        <span data-src="../../elements/pagination.html"></span>
    </div>
</div>