<!-- <ul class="breadcrumb">
    <li>Companies</li>
    <li class="divider"></li>
    <li><a href="#">Add a new Company</a></li>
</ul> -->

<div class="page-header">

    <h1>
    	Clients <small>Your clients are listed here</small>
    </h1>

</div>

<div class="content narrow">
    <span data-src="../../elements/admin/companies/list.html"></span>
    
    <div class="pagination">
        <span data-src="../../elements/pagination.html"></span>
    </div>
</div>

<div class="sidebar help">
    <span data-src="../../elements/admin/companies/sidebar.html"></span>
</div>